.constructor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    padding-top: 50px;
    color: white;
}

.gear-container {
    position: relative;
    width: 200px;
    height: 200px;
    padding-top: 50px;
}

.gear {
    position: absolute;
    width: 100%;
    height: auto;
    animation: rotateClockwise 20s linear infinite;
}

.gear1 {
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) rotate(0deg);
}

.gear2 {
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 50%;
    animation: rotateCounterClockwise 20s linear infinite;
}

@keyframes rotateClockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotateCounterClockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

h1 {
    font-size: 2.5em;
    color: #7E0828;
}

a{
    color: #7E0828;
    text-decoration: none;
}