*{
    margin: 0;
    padding: 0;
}

#nav-menu {
    opacity: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vh;
    justify-content: space-around;
    animation: fade-nav ease 1.5s forwards;
}

#nav-menu > a {
    background-color: #602112;
    color: transparent;
    width: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    padding: 20px 15px;
    text-decoration: none;
    border-radius: 5px 0 0 5px;
    transform: translateX(-18vh);
}

.menu-btn > img {
    width: 6vh;
    height: auto;
}

#nav-menu > a:hover {
    transition: transform 0.5s;
    color: white;
    transform: translateX(0vh);
}


@keyframes fade-nav {
    from { opacity: 0; transform: translateX(-100%)}
    to { opacity: 1; transform: translateX(0)}
}