*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

#nav-menu {
    opacity: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    animation: fade-nav ease 1.5s forwards;
    position: fixed;
}

#nav-menu > a, .selected-btn {
    color: transparent;
    width: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    text-decoration: none;
    border-radius: 10px;
    transform: translateX(-18vh);
    transition: transform 0.5s;
}

.menu-btn > img, .selected-btn > img {
    width: 6vh;
    height: auto;
}

.menu-btn {
    background-color: #954e38;
}

#nav-menu > a:hover {
    color: white;
    transform: translateX(0vh);
}

.selected-btn {
    background-color: #390101;
    pointer-events: none;
}

/*********************** Content Section **************************/

#content-section {
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-left: 10vh;
    background-color: white;
    animation: fade-content ease 1.5s forwards;
    align-items: end;
    padding: 0;
    margin: 0;
}


/*************** Animations *********************/
@keyframes fade-nav {
    from { opacity: 0; transform: translateX(-100%)}
    to { opacity: 1; transform: translateX(0)}
}

@keyframes fade-content {
    from { opacity: 0; transform: translateX(100%)}
    to { opacity: 1; transform: translateX(0%)}
}

@keyframes fadeIn {
    from { opacity: 0; display: none; }
    to { opacity: 1; display: block; }
}

@keyframes fadeOut {
    from { opacity: 1; display: block; }
    to { opacity: 0; display: none; }
}

#simple-toast {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 24px 48px;
    border-radius: 50px;
    font-family: Arial;
    font-size: 28px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
    min-width: 300px;
    text-align: center;
    pointer-events: none; 
}

#simple-toast.show-toast {
    opacity: 1;
}