.content {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#searchProduct {
    font-size: large;
    padding: 10px;
    width: 350px;
    height: 30px;
    margin-right: 10px;
}

#btnCreateProd {
    font-size: large;
    padding: 12px 24px;
    background-color: #6B8E23;
    color: whitesmoke;
    border: solid #6B8E23;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.6s ease;
}

#btnCreateProd:hover {
    background-color: whitesmoke;
    color: #6B8E23;
    border: solid #6B8E23;
}

/*----------------TABLA-----------------------*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th{
    background-color: #841309;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

td{
    background-color: whitesmoke;
    color: #841309;
    padding: 10px;
    border: 1px solid #841309;
}

#codeProd {
    width: 120px;
}

#stockProd {
    width: 50px;
}

#actionsProd {
    width: 240px;
}



/*----------------------------BOTONES DE ACCION----------------------------------*/
.btnAction{
    display: flex;
    justify-content: space-between;
}

#btnUpdate, #btnDelete{
    font-size: medium;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.6s ease;
}

#btnUpdate {
    background-color: #D9A441;
    color: whitesmoke;
    border: solid #D9A441;
}

#btnUpdate:hover {
    background-color: whitesmoke;
    color: #D9A441;
    border: solid #D9A441;
}

#btnDelete{
    background-color: #B03A2E;
    color: whitesmoke;
    border: solid #B03A2E;
}

#btnDelete:hover{
    background-color: whitesmoke;
    color: #B03A2E;
    border: solid #B03A2E;
}

/*MODAL*/
/* Filas del formulario */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 15px;
}

.form-row .full-width {
    grid-column: span 3;
}

.full-width{
    max-width: 150px; /* Ajusta el ancho máximo según sea necesario */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra "..." cuando el texto se desborda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    display: block;
}

select, .form-input{
    width: 95%;
    padding: 10px;
    border-radius: 5px;
}

#codProd{
    width: 90%;
}

.precio-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.moneda {
    font-weight: bold;
    font-size: large;
}

.mandatory-note{
    font-weight: bold;
    font-size: small;
    float: right;
}

#sendProd {
    padding: 8px 15px;
    background-color: whitesmoke;
    color: #a67b5b; 
    border: 2px solid #c4a484;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
#sendProd:hover {
    background-color: #a67b5b; 
    border-color: #8c6450; 
    color: whitesmoke;
}
  
#sendProd:active {
    background-color: #8c6450;
}  

.prodStock {
    color: whitesmoke;
}