/****************** INFORMACION DE LA VENTA *****************************/
#info-client{
    padding-bottom: 20px;
    text-align: center;
    background: white
}

#btnCollapse{
    width: 60px;
    height: 60px;
}

#btnCollapse:hover{
    cursor: pointer;
}

#form-info-client {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 80px;
    width: 80%;
    margin: 0 auto;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

#form-info-client.visible {
    display: grid;
    opacity: 1;
    transform: scale(1);
}

.form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-info-client label {
    grid-column: span 1;
    align-self: center;
    font-size: large;
}

/*#form-info-client input, .product-car > td input {
    padding: 5px;
    border-radius: 5px;
}*/

#info-sale > input{
    height: 40px;
    width: 75%;
    padding: 5px;
    border-radius: 5px;
    font-size: large;
}

/************************************ DETALLES DE LA VENTA **************************/
#client-collapse{
    display: flex;
    gap: 5%;
    justify-content: center;
}

#info-sale{
    padding: 20px;
    text-align: center;
    background: #c98b6e;
}

#products-details{
    /*background: green;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/********************************** TABLA DE PRODUCTOS EN VENTAs ************************************/
#info-products{
    margin-top: 20px;
    width: 100%;
    height: auto;
    justify-content: center;
}

#table-products{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#table-products > thead tr th{
    background-color: #300907;
    color: white;
    border: 1px solid white;
}

#table-products > tbody tr td{
    width: 0;
    background-color: whitesmoke;
    color: #300907;
    border: 1px solid #300907;
}

#table-products td:nth-child(2) {
    padding: 10px 0;
    width: 450px;
}

#table-products td:nth-child(3), #table-products td:nth-child(5) {
    width: 100px;
}

#table-products td:nth-child(4) {
    width: 250px;
}

/*#table-products th[colspan="4"] {
}*/

.btnActions{
    font-size: x-large;
    padding: 0px 10px;
}

.product-car > td input{
    width: 120px;
}

/********************************* TOTAL PAGO *****************************************/
.info-total{
    width: 95%;
    height: auto;
    text-align: left;
    margin: 0px 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.pay-form-field{
    justify-content: right;
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    align-items: center;
}

#label-total{
    font-weight: bolder;
}

.pay-form-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.pay-form-data > input{
    height: 40px;
    font-size: x-large;
    border-radius: 5px;
    width: 75%;
    background: white;
}

.p-method{
    margin: 0;
    width: 100%;
    justify-content: space-between;
}
.p-form, .p-btn{
    margin: 30px 0;
    width: 100%;
    justify-content: space-between;
}

#pay-form-method{
    margin: 20px;
    gap: 20px;
}
#payment-form, #payment-method{
    height: 40px;
    width: 60%;
    border-radius: 5px;
    margin: 10px 30px;
}

#btnImpresion{
    font-size: xx-large;
    text-align: center;
    align-items: center;
}

#btnImpresion > a{
    color: white;
    text-decoration: none;
    background: #6B8E23;
    padding: 20px;
    border-radius: 5px;
}