/*----------------------PANEL INFO -------------------------*/
#info-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    border-collapse: collapse;
    margin: 1rem 1rem;
}

#info-content-client,
#info-content-venta {
    width: 45%;
}

#info-content-client p,
#info-content-venta p{
    margin: 3px 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    line-height: 1.4;
    width: 100%;
}

#info-content-client p strong,
#info-content-venta strong {
    color: #954e38;
    white-space: nowrap;
    /*min-width: 150px;*/
}

#info-content-client p input, 
#info-content-venta  p input,
#info-content-client p select,
#info-content-venta  p select {
    text-align: center;
    flex: 1;
    box-sizing: border-box;
}

/*----------------------  tabla-scroll-container  -------------------------*/

.tabla-scroll-container {
    height: 60vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.tabla-carrito {
    width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tabla-carrito thead th {
    position: sticky;
    top: 0;
    background-color: #300907;
    color: white;
    border: 1px solid #ccc;
    padding: 0.75rem;
    z-index: 2;
    text-align: center;
}

.tabla-carrito tbody td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    background-color: white;
    word-wrap: break-word;
    font-size: 14px;
    text-align: center;
}

.tabla-carrito thead th:is(:nth-child(1), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6)) {
    width: 100px;
}

.tabla-carrito tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*----------------------  final-pos  -------------------------*/

#final-pos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#actions-pos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
}

#actions-pos > button {
    padding: 15px;
}

#total-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: end;
}

#total-container > p {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    line-height: 1.4;
    width: 70%;
}

#total-container > p strong {
    color: #954e38;
    white-space: nowrap;
}

#total-container > p input {
    text-align: center;
    flex: 1;
    box-sizing: border-box;
    margin-bottom: 8px;
}